.Detail {
    display: flex;
    justify-content: center;
  }
  
  .detail-column .tag {
    margin-right: 5px;
  }
  
  .detail p {
    margin-bottom: 10px;
  }
  
  .detail-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .detail-column {
    position: relative;
    width: 50%;
    max-width: 500px;
    box-sizing: border-box;
    padding-right: 30px;
    padding-left: 30px;
  }
  
  .detail-poster {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 15px;
  }
  
  .detail-poster-blured {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .8;
    filter: blur(20px);
    transform: scale(0.8) translateY(-20px);
  }
  
  .detail-star {
    margin-right: 5px
  }
  
  .detail-footer {
    margin-top: 30px;
  }
  
  @media screen and (max-width: 500px) {
    .detail-card {
      flex-direction: column;
      margin-top: 15px;
    }
  
    .detail-column {
      width: 100%;
      padding: 0;
    }
  
    .detail-description {
      display: block;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  
    .detail-poster-blured {
      opacity: 0.5;
      filter: blur(15px);
      transform: translateY(15px);
    }
  }